<!-- File: /views/layouts/footer.ejs -->
<!-- Purpose: Footer partial, simple copyright info -->

<footer>
    <p>&copy; <%= new Date().getFullYear() %> No Bhad Dogs. All rights reserved.</p>
  </footer>
  