<!-- 
  File: /views/booking/notLoggedIn.ejs
  Purpose: Displays a message to users who are not logged in, rovides a link to the login page 
  -->

  <main>
    <h1>Please Log In or Register to Book Services</h1>
    <p><a href="/auth/login">Log In</a> or <a href="/auth/register">Register</a> to access booking.</p>
  </main>
  